.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
}
.section-one-wrapper {
  flex-direction: column;
}
.section-two-wrapper {
  margin: 64px;
}
.section-three-wrapper {
  flex-direction: column;
  padding: 64px;
}
.section-four-wrapper {
  flex-direction: column;
}
.skills {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 32px;
}
.footer {
  flex-direction: column;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 32px;
    text-align: center;
  }
  .section-two-wrapper {
    margin: 0;
  }
  .skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
